@import "tailwindcss";

:root {
  --accent: #aa3bff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #c084fc;
  }
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: left;
  border-inline: none;
  min-height: 100svh;
  display: block;
  box-sizing: border-box;
}

body {
  margin: 0;
}